@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

:root {
    --max-width: 1200px;
    --min-width: 300px;
    --optimus-width: 100vw;

    --primary-color: #F7ff00;
    --secondary-color: #163A93;
    --tertiary-color: #fff;
    --fourth-color: #12122F;
    --fifth-color: #8FF339;

    --title-color: var(--primary-color);
    --subtitle-color: #4a4969;
    --paragraph-color: #0c0c0c;

    --primary-background-color: #f0f0f0;
    --secondary-background-color: hsl(from var(--primary-color) h s calc(l + 10));
    --tertiary-background-color: #efeffb;
    --quaternary-background-color: var(--title-color);

    --button-color: #fff;
}

body {
    background: var(--primary-background-color);
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
}

.wrapper-navbar {
    position: fixed;
    height: 65px;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 0.2s ease;
}

.wrapper-navbar.scrolled {
    background: var(--fourth-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.navbar__toggle.scrolled {
    background: white;
}

#navbar__menu-btn.scrolled,
#navbar__close-btn.scrolled {
    color: var(--paragraph-color);
}

.navbar {
    width: clamp(var(--min-width), var(--optimus-width), var(--max-width));
    display: flex;
    padding: 0 0.8rem;
}

.navbar-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__brand img {
    width: 150px;
}

.navbar__brand:hover {
    color: var(--primary-color);
}

.navbar__toggle {
    background: var(--secondary-color);
    width: 35px;
    height: 35px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.navbar__toggle button {
    width: 35px;
    height: 35px;
    background: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 100vh;
    width: 100%;
    position: absolute;
    background: var(--primary-background-color);
    padding: 1rem;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    padding-left: 1rem;
    font-size: 1.3rem;
}

.navbar__link {
    list-style: none;
}

.navbar__link a {
    display: block;
    color: var(--fourth-color);
    font-weight: bold;
    transition: all 0.2s ease;
}

.navbar__link a:hover {
    color: var(--paragraph-color);
    transform: translateY(-3px);
}

.navbar__contact-btn {
    border-radius: 1.5rem;
    cursor: pointer;
    padding: 0.5rem 2rem;
    color: var(--paragraph-color);
    font-weight: bold;
    background: var(--primary-color);
    transition: all 0.3s ease;
}

.navbar__contact-btn:hover,
.contact-btn:hover {
    background: var(--fifth-color);
    transform: translateY(-3px);
    box-shadow: 0 0 8px hsl(from var(--fifth-color) h s calc(l - 10));
}

.page {
    width: 100%;
    max-width: var(--max-width);
    min-width: var(--min-width);
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    padding-top: 70px;
}

.hero-wrapper {
    width: 100%;
    background-image: url(assets/hero-background.jpg);
    background-position: center;
    background-size: cover;
    mask-image: linear-gradient(black 80%, transparent);
    height: 90vh;
    display: flex;
    align-items: center;
}

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 3rem 0 2rem 0;
}

.hero-content {
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: center;
    gap: 0.8rem;
}

.hero-content__title {
    max-width: 600px;
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--fourth-color);
}

.hero-content__title--span {
    background: linear-gradient(90deg, var(--primary-color), hsl(from var(--primary-color)h s calc(l - 10)), hsl(from var(--primary-color)h s calc(l - 15)));
    background-clip: text;
    color: transparent;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80%;
    border-bottom: 1px solid hsl(from var(--primary-color)h s calc(l + 30));
    top: -20%;
}

.hero-img video {
    width: 100%;
    /* mask-image: linear-gradient(black 90%, transparent); */
}

.hero-content__btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact-btn {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
    color: var(--paragraph-color);
    font-weight: bold;
    background: var(--primary-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.ri-whatsapp-line {
    font-size: 1.05rem;
    font-weight: normal;
}

.section-container {
    padding: 2rem 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.section__title {
    color: var(--fourth-color);
    font-size: 1.6rem;
    margin-top: -1.5rem;
    line-height: 2.1rem;
}

.section__paragraph {
    text-align: left;
}

.section-nosotros .section-content {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 3rem;
}

.section-nosotros .section-content article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-services {
    width: 100vw;
    padding-left: 1rem;
    margin-left: calc(50% - 50vw);
}

.services-container {
    width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-block: 0.5rem;
    padding-left: 1rem;
}

.services-container::-webkit-scrollbar {
    display: none;
}

.service__card {
    min-width: 330px;
    height: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    scroll-snap-align: start;
    background: var(--secondary-color);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 8px rgb(211, 211, 211);
}

.service__card__title{
    color: white;
}

.service__card__paragrah{
    color: white;
}

.service__btn{
    cursor: pointer;
    border-radius: 1.5rem;
    padding-block: 0.5rem;
    background: var(--primary-color);
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.service__btn:hover{
    transform: scale(1.01);
    background: var(--fifth-color);
}

.servicie__seemore{
    text-align: center;
    color: white;
}

.servicie__seemore:hover{
    color: var(--fifth-color);
}

.whatsapp-fixed__btn {
    right: 20px;
    bottom: 20px;
    position: fixed;
    cursor: pointer;
    background: rgb(19, 183, 19);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.2s ease;

    i {
        font-size: 1.5rem;
    }
}

.whatsapp-fixed__btn:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 0 8px hsl(from rgb(19, 183, 19) h s calc(l + 10));
}


.footer {
    display: flex;
    justify-content: center;

}

.footet-container {
    border-radius: 1rem 1rem 0 0;
    background: white;
    width: 100%;
    max-width: var(--max-width);
    min-width: var(--min-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
    gap: 1.5rem;
}

.footer__brand img {
    width: 80px;
}

.footer__content {
    display: flex;
    gap: 4rem;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer__links a {
    color: var(--paragraph-color);
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.footer__links a:hover {
    color: var(--secondary-color);
    transform: translateY(-3px);
}

.footer__socials {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer__socials a {
    color: var(--secondary-color);
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.footer__socials a:hover {
    color: var(--paragraph-color);
    transform: translateY(-3px);
}

.footer p {
    padding-top: 1rem;
    font-size: 0.8rem;
    color: var(--paragraph-color);
}

/* Oculto */

.oculto {
    display: none;
}

@media (width >=1026px) {

    .wrapper-navbar.scrolled {
        background: var(--fourth-color);
        box-shadow: none;
    }

    .navbar {
        padding: 0 2rem;
    }

    .navbar__toggle {
        display: none;
    }

    .navbar-content {
        display: flex;
        padding: 0.5rem;
        background: none;
        justify-content: end;
        flex-direction: row;
        height: inherit;
        position: static;
    }

    .navbar-links {
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        flex-direction: row;
    }

    .navbar__link a.scrolled {
        color: var(--tertiary-color);
    }

    .navbar__contact-btn {
        border-radius: 1.5rem;
        padding: 0.5rem 1.5rem;
        background: rgb(19, 183, 19);
        color: white;
    }

    .navbar__contact-btn:hover {
        box-shadow: 0 0 8px hsl(from rgb(19, 183, 19) h s calc(l + 1));
        background: rgb(19, 183, 19);
    }

    .hero {
        height: 80vh;
    }

    .hero-content {
        align-items: center;
        gap: 0.5rem;
    }

    .hero-content__btns {
        flex-direction: row;
        justify-content: center;
    }

    .section-nosotros .section-content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .section-nosotros .section-content article {
        text-align: left;
    }

    .section-services{
        width: 100%;
        margin: 0;
    }

    .service__card {
        min-width: 30%;
    }

    .whatsapp-fixed__btn {
        display: none;
    }

    .footer__content {
        flex-direction: row;
        align-items: center;
    }

    .footer__links {
        flex-direction: row;
        gap: 1rem;
    }

    .footer__socials {
        flex-direction: row;
        gap: 1rem;
    }

    .footer p {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        text-align: center;
        width: 100%;
    }
}